<div class="row">

  <div class="center">

    <h5 style="margin-top: 10%;">
      <img src="assets/img/logo_128x128.png" />
      <br />
      <br />
      <br />
      Para começar a utilizar o Git Panel, faça o login e autorize a organização (caso esteja em alguma).
    </h5>

    <p>
      <a class="btn btn-large green" href="http://github.com/login/oauth/authorize?client_id=713e8b0d72a04062d8c2&client_secret=011139906eff106af4a7cca4bc1687d55abf6162&scope=repo">
        <i class="material-icons left">chevron_right</i> Login
      </a>
    </p>

  </div>

</div>
